html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 My Pets
        p Add/Update #[a(href=`${addUrl}`) here]



        table(style='width:60%', border='1')
            tr
                th Name
                th Favorite Toy
                th Type


            each contact in data
     
                tr
                        td #{contact.properties.name}
                        td #{contact.properties.favoritetoy}
                        td #{contact.properties.type}


